Source: com.github.hezral.clips
Section: x11
Priority: extra
Maintainer: Adi Hezral <hezral@gmail.com>
Build-Depends: debhelper (>= 10),
               dh-python,
               python-all,
               python-setuptools,
               libgranite-dev
Standards-Version: 3.9.3

Package: com.github.hezral.clips
Architecture: any
Depends: python3, python-requests, ${misc:Depends}, ${shlibs:Depends}
Description: Clips
 An application for viewing your clipboard history, designed for elementary OS.
