/*
   Copyright 2020 Adi Hezral (hezral@gmail.com) (https://github.com/hezral)

   This file is part of Ghoster ("Application").

    The Application is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    The Application is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this Application.  If not, see <http://www.gnu.org/licenses/>.
*/

/* -- colors -- */
/* ------------------------------ */
@define-color shaded_dark shade(@theme_base_color, 0.8);
@define-color shaded_darker shade(@theme_base_color, 0.85);
@define-color shaded_base shade(#6A0CAB, 0.98);
@define-color popup shade(@theme_base_color, 0.98);

/* *:backdrop {
    color: rgba(255, 255, 255, 0.5);
} */

/* ------------------------------ */


/* -- headerbar -- */
/* ------------------------------ */
.header-label {
    font-size: larger;
    font-weight: bold;
}


grid#search-bar {
    padding: 1px;
    }
    
    entry#search-entry {
        box-shadow: none;
        background-image: none;
        border-style: none;
        padding: 5px;
        padding-top: 7px;
        padding-bottom: 7px;
        text-shadow: none;
    }
    
    entry#search-entry-active {
        padding: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        text-shadow: none;
    }


/* ------------------------------ */

grid#main-view {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* -- stack -- */
/* ------------------------------ */
stack {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
/* ------------------------------ */



/* -- settings-view -- */
/* ------------------------------ */
.stack-settings, .headerbar-settings, .main_view-settings {
    background-color: @shaded_dark;
}

.settings-frame {
    border-radius: 4px;
    background-color: @shaded_darker;
}

/* .settings-sub-label {
    font-style: italic;
    font-size: 0.9em;
    color: gray;
} */
/* ------------------------------ */

@keyframes crossfader {
    0% { opacity: 0; } 
    03.33% { opacity: 0; }
    06.66% { opacity: 0; }
    09.99% { opacity: 0; }
    13.33% { opacity: 0; }
    16.65% { opacity: 0.5; }
    100% { opacity: 1; }	
}

grid#clip-container {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: transparent;
    animation: crossfader 1s ease-in-out forwards;
}

flowboxchild:selected {
    box-shadow:
        0 0 0 1px rgba(0,0,0,0.12),
        0 2px 5px  rgba(0,0,0,0.16),
        0 2px 5px  rgba(0,0,0,0.23),
        0 14px 28px  rgba(0,0,0,0);
}

flowboxchild:backdrop > grid#clip-container > grid#clip-info {
    text-shadow: 0px 1px 2px rgba(0,0,0, 0.2);
}

flowboxchild:selected > grid#clip-container > grid#clip-info {
    text-shadow: 0px 1px 2px rgba(0,0,0, 0.5);
}

flowbox {
    padding: 10px;
}

label#clip-timestamp, label#clip-content-label {
    font-size: 80%;
    opacity: 0.75;
    font-weight: bold;
}

box#clip-content {
    font-size: 85%;
}

button#clip-action-button {
    box-shadow: none;
    border-style: none;
    padding: 2px;

    color: white;
}
    
button#clip-action-button:hover {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255,255,255,0.75);
    border-radius: 15px;
    background-color: rgba(0,0,0,0.35);
    opacity: 1;
}
    
button#clip-action-button:active {
    border-color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.7);
    opacity: 0.55;
}
    
    
grid#clip-action {
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 6px;
    border-radius: 3px;
}

label#clip-action-message {
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 3px;
    font-weight: bold;
}

.test {
    color: rgba(4%,4,4%,0.4);
    color: rgba(10,4, 10, 0.4);
}