[Desktop Entry]
Name=Clips
GenericName=Clips
Comment=Clipboard Manager
Categories=Utility;
Exec=com.github.hezral.clips
Icon=com.github.hezral.clips
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.hezral.clips
Keywords=Python;
